.container__big-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40rem;
  padding: 1rem 2rem;

  .big-card__picture {
    img {
      width: 100%;
      height: auto;
    }
  }

  .big-card__title, .big-card__description {
    margin-top: 1rem;
  }

  .big-card__title {
    font-size: 3.6rem;
  }

  .big-card__description {
    color:gray;
    font-size: 2.4rem;
  }
}
