.container__menu-title {
  & > h1 {
    display: flex;
    font-size: 13.5rem;
    font-weight: bold;
    justify-content: center;
    margin: 0 1.5rem;
  }

  & > hr {
    color: gray;
    margin: 0.6rem 0;
  }
}
