.container__articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 92rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media (max-width: 500px) {
  .container__articles {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
